fastapi
uvicorn
gunicorn
numpy==1.26.4
transformers>=4.38
accelerate==0.29.2
pydantic>=2.0,<3.0
datasets
peft==0.10.0
dotenv
argparse
python-multipart>=0.0.5
safetensors
sentencepiece
transitions==0.9.2
googlemaps
locationtagger
newspaper3k
lxml[html_clean]
nltk
